################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Findit/.vs/Findit/v15
/Findit/.vs/Findit/v16/Server/sqlite3
/.vs
/Findit/Findit/bin/Debug/Findit.exe
/Findit/Findit/bin/Debug/Findit.pdb
/Findit/Findit/obj/Debug/FindIt.csproj.CoreCompileInputs.cache
/Findit/Findit/obj/Debug/FindIt.csproj.FileListAbsolute.txt
/Findit/Findit/obj/Debug/FindIt.csproj.GenerateResource.cache
/Findit/Findit/obj/Debug/Findit.exe
/Findit/Findit/obj/Debug/Findit.pdb
/Findit/Findit/obj/Debug/Findit.PurchaseOptions.resources
/Findit/Findit/obj/Debug/Findit.RegistrationForm.resources
